.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'header header'
    'menu content';
}

.main-header {
    grid-area: header;
    background: red;
}

.main-menu {
    grid-area: menu;
    background: green;
}

.main-content {
    grid-area: content;
    background: pink;
}

/*
#root div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
