.dialogs_wrapper {
    display: flex;
}

.dialogs_list_wrapper {
    padding: 0 20px;
}

.dialogs_list {
    margin-top: 0;
}

.dialog_field_wrapper {
    border-left: 1px solid gray;
    width: 100%;
}

.dialog_field {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 20px;
}